<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- added for razorpay -->
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/checkout.css" th:href="@{/static/css/checkout.css}">

</head>
<body>
<div class="container body" id="check_form">
    <div class="alert alert-success" id="pay-success" style="display:none;">
        <strong>Payment Completed Successfully</strong>
    </div>
    <div class="card-body" id="emp_form">

        <form id="msform">
<!--            <div class="form-group">-->
<!--                -->
<!--            </div>-->
<!--            <div class="form-group">-->

<!--            </div>-->
<!--            <div class="form-group">-->
<!--                -->
<!--            </div>-->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" required="required">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required="required">
                <label for="contact">Contact</label>
                <input type="number" class="form-control" id="contact" name="contact" placeholder="Enter Your Contact" required="required">
                <label for="amount">Amount</label>
                <input type="text" class="form-control" id="amount" name="amount" placeholder="Enter Amount" required="required">
            </div>


            <button type="button" class="btn btn-primary" id="submit-form">Checkout</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- razorpay -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    function doPost(path,reqObj, isAsync){
        console.log("payment started...");
        let resp;
        // let amount=document.getElementById("pay_amount").value;
        $.ajax({
            url: path,
            type: 'POST',
            data: JSON.stringify(reqObj),
            contentType: "application/json; charset=UTF-8",
            async: isAsync,
            success: function (data) {
                resp=JSON.parse(data)
            }
        });
        return resp;
    }
</script>
<script>
    function docheck(path,reqObj,isAsync){
        console.log("Check started...");
        let resp;
        // let amount=document.getElementById("pay_amount").value;
        $.ajax({
            url: path,
            type: 'POST',
            data: JSON.stringify(reqObj),
            contentType: "application/json; charset=UTF-8",
            async: isAsync,
            success: function (data) {
                resp=JSON.parse(data);
                alert("success");
                //console.log(resp);
            },
            error: function (data) {
                resp=JSON.parse(data);
                alert("error");
                //console.log(resp);
            }
        });
        return resp;
    }
</script>
<script>
    let resp = null;
    let o_id=null;

    var options = {
        "key": "",
        "amount": "",
        "currency": "",
        "name": "",
        "description": "",
        "order_id":"",
        "image": "https://theovaku.com/wp-content/themes/ovaku-stronger-together/img/banner.jpg",
        "handler": function (response){
            // alert(response.razorpay_payment_id);
            $('#pay-success').show();
            resp=docheck("/test/checkPayment?id="+options.order_id,response,false);
            console.log(options.order_id);
            console.log(resp);
        },
        "prefill": {
            "name": "",
            "email": "",
            "contact": ""
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    document.getElementById('submit-form').onclick = function(e){
        var reqObj=$('#msform').serializeArray();
        // let reqObj=$("#amount").val();
        console.log(reqObj);
        var indxReqObj={};
        $.map(reqObj, function(n, i){
            indxReqObj[n['name']] = n['value'];
        });

        resp = doPost("/test/createPayment", indxReqObj, false);
        console.log(resp);
        // console.log(resp.orderDto);
        console.log(resp.amount);
        o_id=resp.id;
        // console.log(resp.orders.amount);
        options.key = 'rzp_test_eoK7OXhNHFWDnP';
        console.log(options.key);
        options.order_id = resp.id;
        options.amount = resp.amount;
        options.currency=resp.currency;
        options.name= 'Ovaku Corp';
        options.description = 'Test payment';
        options.prefill.name = resp.name;
        options.prefill.email = resp.email;
        options.prefill.contact=resp.contact;
        var rzp1 = new Razorpay(options);
        rzp1.open();
        e.preventDefault();
    }
</script>
</body>
</html>